.container {
  padding: 30px 0px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #1e424e;
}

.h1 {
  font-size: 70px;
  margin-bottom: 15px;
  margin-left: -60px;
  font-weight: 500;
}

.image {
  margin-left: -50px !important;
}

@media screen and (max-width: 1366px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1280px) {
  /* media */
  .container span img {
    width: 400px !important;
    height: 150px !important;
    margin-left: -50px !important;
  }

  .h1 {
    font-size: 60px;
    margin-left: -50px;
  }
}
@media screen and (max-width: 800px) {
  /* ukuran 1366px */
  .container span img {
    width: 350px !important;
    height: 100px !important;
    margin-left: -55px !important;
  }

  .h1 {
    font-size: 40px;
    margin-left: -70px;
  }
}
@media screen and (max-width: 414px) {
  /* media */
  .container span img {
    width: 300px !important;
    height: 70px !important;
    margin-left: -55px !important;
  }

  .h1 {
    font-size: 30px;
    margin-left: -90px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
