.container {
  max-width: 1280px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid; */
  padding: 30px 0px;
  color: #0f2b5c;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1366px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 800px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 414px) {
  /* media */
}
@media screen and (max-width: 375px) {
  /* media */
}
