.container {
  max-width: 1280px;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  color: #0f2b5c;
  margin-top: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  /* border: 1px solid; */
}

.content {
  /* border: 1px solid; */
  width: 100%;
}

.content h2 {
  margin: 0px 0px 40px 0px;
}

.wrapper_content {
  display: flex;
  width: 100%;
}

.wrapper_content .form {
  width: 400px;
  margin-right: 50px;
}

.wrapper_content > div:not(:nth-child(1)):nth-child(2) {
  margin-right: 20px;
}

.form {
  margin-right: 50px;
  width: 400px;
}

.form > div:not(:last-child) {
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  font-size: 14px;
}

.form label {
  font-size: 14px;
}

.validasi_ijazah {
  margin: 30px 0px 0px;
  display: flex;
}

.validasi_ijazah > .catatan {
  padding: 30px 0px;
}

.catatan {
  margin-bottom: 40px;
  border: 1px dashed black;
  padding: 20px !important;
  background-color: #fff;
  font-size: 12px;
  width: 100%;
}

.catatan ol li {
  margin: 5px 0px;
}

.wrapper_s2 {
  width: 400px;
}

.wrapper_s2 > div {
  margin-bottom: 20px;
}

.saveData {
  margin: 30px 0px;
}

.button {
  font-family: "Poppins", sans-serif !important;
  text-transform: capitalize !important;
  font-size: 12px !important;
  background-color: #0f2b5c !important;
  color: #fff !important;
}

.button:hover {
  background-color: #fff !important;
  color: #0f2b5c !important;
}

@media screen and (max-width: 1366px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1280px) {
  /* media */
  .container {
    padding: 0px 30px;
  }

  .menu {
    margin-right: 50px;
  }
}
@media screen and (max-width: 800px) {
  /* ukuran 1366px */
  .menu {
    /* border: 1px solid; */
    margin-right: 50px;
  }
  .content {
    width: 500px;
  }

  .wrapper_content {
    flex-direction: column-reverse;
  }

  .form {
    width: 100% !important;
    margin-bottom: 20px !important;
  }

  .wrapper_content > div:not(:nth-child(1)) {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  .wrapper_content > div:not(:nth-child(1)) > div {
    width: 100% !important;
  }

  .validasi_ijazah {
    flex-direction: column;
  }

  .validasi_ijazah > div {
    margin-right: 0px !important;
  }

  .validasi_ijazah > div > div {
    width: 100% !important;
  }
}
