.container {
  max-width: 1280px;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  color: #0f2b5c;
  margin-top: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.file {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.file > div {
  margin-right: 20px;
}

.file > div:nth-child(2) {
  margin-right: 30px;
}

.note {
  width: 400px;
  padding-top: 60px;
  font-size: 12px;
}

.note h2 {
  margin: 0px;
}

.note ol {
  margin: 0px;
}

.form {
  display: flex;
}

.form > div {
  margin-right: 50px;
  width: 400px;
}

.form > div > div:not(:last-child) {
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  font-size: 14px;
}

.form label {
  font-size: 14px;
}

.saveData {
  margin: 30px 0px;
}

.button {
  font-family: "Poppins", sans-serif !important;
  text-transform: capitalize !important;
  font-size: 12px !important;
  background-color: #0f2b5c !important;
  color: #fff !important;
}

.button:hover {
  color: #0f2b5c !important;
  background-color: #fff !important;
}

@media screen and (max-width: 1366px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1280px) {
  /* media */
  .container {
    padding: 0px 30px;
  }

  .menu {
    margin-right: 50px;
  }
}
@media screen and (max-width: 800px) {
  /* ukuran 1366px */
  .menu {
    /* border: 1px solid; */
    margin-right: 50px;
  }
  .content {
    width: 500px;
  }
}
