.container {
  max-width: 1280px;
  margin: 0px auto;
}

.wrapper {
  display: flex;
  margin: 30px 0px;
}

.wrapper > div:nth-child(1) {
  margin-right: 100px;
}

.content .berkas {
  margin: 30px 0px;
}

.berkas {
  display: flex;
}

.berkas > div:not(:nth-last-child(1)) {
  margin-right: 100px;
}

.berkas_item {
  display: flex;
}

.berkas_item > div:not(:nth-last-child(1)) {
  margin-right: 20px;
}

.form {
  padding-top: 35px;
  width: 220px;
}

.form > div:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.form > div label {
  font-size: 14px;
}
.form > div input {
  font-size: 14px;
}

.catatan {
  width: 220px;
}

.catatan h5 {
  margin: 0px;
  padding: 35px 0px 5px;
}

.catatan ul {
  margin: 0px;
  padding: 0px 20px;
  line-height: 20px;
}

.catatan ul li {
  font-size: 12px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }

  .wrapper > div:nth-child(1) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 800px) {
  /* media */

  .wrapper > div:nth-child(1) {
    margin-right: 50px;
  }

  .berkas > div:not(:nth-last-child(1)) {
    margin-right: 50px;
  }

  .berkas {
    flex-direction: column;
  }

  .berkas > div:nth-child(1) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 375) {
  /* media */
}
@media screen and (max-width: 325) {
  /* media */
}
