.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  margin-top: 30px;
  color: #0f2b5c;
}

.wrapper {
  display: flex;
}

.wrapper > div:nth-child(1) {
  margin-right: 100px;
}

.content h3 {
  margin: 0px;
  padding: 0px 0px 30px;
}

.catatan {
  border: 2px dashed #0f2b5c;
  color: #0f2b5c;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.catatan h4 {
  margin: 0px;
  padding: 0px 0px 10px;
  font-size: 15px;
}

.catatan p {
  margin: 0px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
  .wrapper > div:nth-child(1) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 375) {
  /* media */
}
@media screen and (max-width: 325) {
  /* media */
}
