.file {
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
}

.file .box {
  margin-top: 10px;
  font-size: 10px;
}

.label {
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.label svg {
  margin-right: 10px;
}
