.container {
  max-width: 1280px;
  margin: 0px auto;
}

.menu {
  margin-right: 100px;
}

.isianForm > div:nth-child(1) {
  margin-right: 30px;
}

.wrapper {
  display: flex;
  margin: 30px 0px;
}

.catatan {
  margin-bottom: 40px;
  border: 1px dashed black;
  padding: 20px;
  background-color: #fff;
  font-size: 12px;
}

.isianForm {
  display: flex;
  margin-bottom: 40px;
}

.form {
  margin-top: 30px;
}

.form > div {
  margin-bottom: 20px;
}

.form > div label {
  font-size: 14px !important;
}
@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px !important;
  }

  .menu {
    margin-right: 50px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 375) {
  /* media */
}
@media screen and (max-width: 325) {
  /* media */
}
