.main_container {
  max-width: 1280px;
  margin: 0 auto;
  /* border: 1px black solid; */
}

.body {
  display: flex;
  justify-content: center;
}

.content {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.p {
  width: 800px;
  text-align: center;
  line-height: 100px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.container_button {
  text-align: center;
  margin-top: 40px;
}

.button {
  text-transform: capitalize !important;
  border-radius: 0px !important;
  margin: 0px 20px !important;
  padding: 8px 60px !important;
  font-size: 13px !important;
  font-weight: 600 !important;
}

@media screen and (min-width: 374px) {
  /* media */
  .body span img {
    width: 600px !important;
    height: 150px !important;
  }

  .p {
    width: 300px;
    font-size: 12px;
    line-height: 16px;
  }
  .button {
    margin: 0px 5px;
  }
}

@media screen and (min-width: 414px) {
  /* media */
  .body span img {
    width: 600px !important;
    height: 150px !important;
  }

  .p {
    width: 350px;
    font-size: 12px;
    line-height: 16px;
  }
  .button {
    margin: 0px 5px;
  }
}

@media screen and (min-width: 800px) {
  /* ukuran 1366px */
  .body span img {
    width: 600px !important;
    height: 150px !important;
  }

  .p {
    width: 600px;
    font-size: 11px;
    line-height: 18px;
  }
}

@media screen and (min-width: 1280px) {
  /* media */
  .body span img {
    width: 700px !important;
    height: 200px !important;
  }

  .p {
    font-size: 12px;
  }
}

@media screen and (min-width: 1366px) {
  /* ukuran 1366px */
}
