.container {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  width: 200px;
}

.menu_item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px 0px;
}

.menu_item:hover {
  color: #fdb900;
}

.menu_item svg {
  margin-right: 10px;
  font-size: 20px;
}

.menu_item_active {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #fdb900;
  color: #0f2b5c;
  padding: 10px;
}

.menu_item_active svg {
  margin-right: 10px;
  font-size: 20px;
}
